In [2]:
import gender_guesser.detector as gender

d = gender.Detector()

print(d.get_gender(u"Bob"))
    

print(d.get_gender(u"Sally"))

print(d.get_gender(u"Laavanya"))

print(d.get_gender(u"Daniel"))

import tardis

bp = tardis.get_bp_postgres_connection()

worker_names = bp.execute_query(
"""
SELECT u.id as worker_id,
name_first,
name_last
FROM public.user u
WHERE u.id in (
    SELECT worker_id
    FROM public.shift_assignment_outcome sao
    WHERE is_official
    AND outcome='Worked'
) 
""")

male
female
unknown
male

In [3]:
worker_names['inferred_gender'] = worker_names.name_first.apply(d.get_gender)

In [4]:
worker_names.inferred_gender.value_counts()

female           11464
male             10133
unknown           8254
mostly_female     1237
mostly_male        957
andy               277
Name: inferred_gender, dtype: int64

In [5]:
worker_names[worker_names.inferred_gender=='female']

       worker_id name_first           name_last inferred_gender
0          57221    Marylyn               Hyams          female
1          81339      Paula             Arbeene          female
3          27223   Brittney               Gault          female
4          63179     Andrea             Johnson          female
5          55290  Josephine                 Roa          female
7          31252      Lacey               Seals          female
11          9545   Marcella               Mason          female
12         73754      Paula    Domanick English          female
15         12267      Sydni                 Ray          female
16         10551      Mamie             Eubanks          female
19         66005   Penelope            Fountain          female
24         10543     Amanda  Krzyzanowski-Cream          female
27         31603    Jocelyn               Moore          female
28         71536      Ebony              Cooper          female
29         40787  Angelique         Mayweathers          female
32         31678      Debra                Dean          female
33         11257     Tamika             Perkins          female
45         22383   Jennifer                 Eby          female
52         70175     Karina             Fonseca          female
63         45787       Lisa             Burklow          female
64         58423    Jessica             Bennett          female
65         73023    Cecilia               Hayes          female
68         12648    Melissa           Vas Nunes          female
73         53697   Jennifer             Roberts          female
74         73773     Cassie               Swint          female
80         69447     Edwina            Ferguson          female
81         68518    Brandie               Lewis          female
82          1487     Carrie      Mueller Anslow          female
87         15480       Rita              Hunter          female
91         77995   Brittany               Deyoe          female
...          ...        ...                 ...             ...
32245      72985       Tami               Hicks          female
32248      23743    Deborah             Monauni          female
32249      20706      Maria             Jimenez          female
32251      27807     Tameka            Hamilton          female
32254      31061     Teresa              Barbin          female
32257      61209  Catherine              Abrams          female
32263      39972      Nancy            Egegbara          female
32267      71259     Nicole            Andersen          female
32268      24997       Bree              Wilcox          female
32270      68320     Audrey            Outhouse          female
32271      28017       Riki             Kellogg          female
32279      78427       Asia               Allen          female
32280      79824      April             de Leon          female
32281       9962      Edith               Lopez          female
32284      81482     Brandi              Hewitt          female
32289      43334    Desiree                Reid          female
32291      41285     Miriam              Bekele          female
32293      78214    Jessica          Gudmundson          female
32295      42013   Latarsha               Burse          female
32299       4660     Jeanie               Chang          female
32302      46312    Nichole               Henry          female
32303      35404    Desiree           Velazquez          female
32304      64879    Alondra               Solis          female
32305      35573       Kaci            Campbell          female
32306      10557      Flore              Lewiel          female
32311      77242   Princess             Faustin          female
32313      16407    Allison             Johnson          female
32316      77618   Caroline              Turner          female
32317      75617     Autumn               White          female
32318      41048    Tiffany              Vargas          female

[11464 rows x 4 columns]

In [6]:
from ethnicolr import pred_fl_reg_name

Using TensorFlow backend.
/Users/laavanyaganesh/repo/scratchbook2/venv/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [10]:
worker_names = pred_fl_reg_name(worker_names, 'name_last', 'name_first')

In [9]:
worker_names

       worker_id name_first           name_last inferred_gender      race
0          57221    Marylyn               Hyams          female  nh_black
1          81339      Paula             Arbeene          female  nh_white
2          11890       Paul             McVeigh            male  nh_white
3          27223   Brittney               Gault          female  nh_white
4          63179     Andrea             Johnson          female  nh_black
5          55290  Josephine                 Roa          female  hispanic
6          59315          J              Bolton         unknown  nh_white
7          31252      Lacey               Seals          female  nh_white
8          43007        Mak             Odusina         unknown  nh_white
9          32083       Luke               Hicks            male  nh_white
10         39118      Kevin               Maule            male  nh_white
11          9545   Marcella               Mason          female  nh_white
12         73754      Paula    Domanick English          female  nh_white
13         74833       Keli           Schneider         unknown  nh_white
14         28077      David               Ayers            male  nh_white
15         12267      Sydni                 Ray          female  nh_white
16         10551      Mamie             Eubanks          female  nh_black
17         70484    Michael               Moore            male  nh_white
18          8533     Albert              Cheeks            male  nh_white
19         66005   Penelope            Fountain          female  nh_white
20         39349     Willie                 Kim     mostly_male     asian
21         38481      David               Vogel            male  nh_white
22         50289  Sharnetta             Belcher         unknown  nh_black
23         21905  Francisco              Bervis            male  hispanic
24         10543     Amanda  Krzyzanowski-Cream          female  nh_white
25         49303    Tiyasha              Lourie         unknown  nh_black
26         31517     Maalik               Evans         unknown  nh_black
27         31603    Jocelyn               Moore          female  nh_black
28         71536      Ebony              Cooper          female  nh_black
29         40787  Angelique         Mayweathers          female  nh_black
...          ...        ...                 ...             ...       ...
32292      51253        Val                  Sy            andy  nh_white
32293      78214    Jessica          Gudmundson          female  nh_white
32294      56874     Jameel            Grimsley            male  nh_black
32295      42013   Latarsha               Burse          female  nh_black
32296      77953   Jermaine           Armstrong            male  nh_black
32297      16913  Darneshia              Turner         unknown  nh_black
32298      28448    Sheldon             St Prix            male  nh_white
32299       4660     Jeanie               Chang          female     asian
32300      56972     Nakina              Faison         unknown  nh_black
32301      80214     Melvin              Mendez            male  hispanic
32302      46312    Nichole               Henry          female  nh_white
32303      35404    Desiree           Velazquez          female  hispanic
32304      64879    Alondra               Solis          female  hispanic
32305      35573       Kaci            Campbell          female  nh_white
32306      10557      Flore              Lewiel          female  nh_white
32307      15213       Jose          Santamaria            male  hispanic
32308      30950     Philip            D'Aquila            male  nh_white
32309      70003       Sean              Yingst            male  nh_white
32310      11561   Reginald              Howard            male  nh_black
32311      77242   Princess             Faustin          female  nh_black
32312      49464    Matthew                Fine            male  nh_white
32313      16407    Allison             Johnson          female  nh_white
32314      19251    Shakeis             Briscoe         unknown  nh_black
32315      31171    Anthony                Sims            male  nh_white
32316      77618   Caroline              Turner          female  nh_white
32317      75617     Autumn               White          female  nh_white
32318      41048    Tiffany              Vargas          female  hispanic
32319      20093    Radford            Chinnery         unknown  nh_white
32320      42754  Kim-Marie                John         unknown  nh_white
32321      84971  Nathaniel             Johnson            male  nh_black

[32322 rows x 5 columns]

In [11]:
worker_names.to_pickle('worker_gender_race.pkl')